header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav ul {
    display: flex;
    list-style-type: none;
    margin-top: 20px;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    text-decoration: none;
    font-weight: bold;
}

@media all and (min-width: 750px) {
    header {
        flex-direction: row;
        justify-content: space-between
    }
    header nav ul {
        margin-top: 0;
    }
}