main {
    text-align: center;
    margin: 150px 0 150px;
}

main div {
    display: inline-block;
    text-align: left;
}

main div h1 {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 0;
}

main div h2 {
    font-size: 18px;
    ;
}